<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ホームページ</title>
  <style>
    body {
      background-color: #007bff; /* 青色 */
      color: white;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 50px;
    }
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 1.5em;
    }
  </style>
</head>
<body>
  <h1>ようこそ！</h1>
  <p>これは青色のホームページです。</p>
  <% if user_signed_in? %>
     <%= form_tag(destroy_user_session_path, method: :delete) do %>
    <%= submit_tag 'Logout', class: "logout-link" %>
  <% end %>
<% else %>
  <%= link_to 'Login', new_user_session_path, class: "logout-link" %>
  <%= link_to 'Sign up', new_user_registration_path, class: "logout-link" %>
  <% end %>

</body>
</html>
